services:
  app:
    build: .
    ports:
      - '8080:8080'
    environment:
      - DB_HOST=db
      - DB_PORT=5432
      - DB_USER=postgres
      - DB_PASS=7213
      - DB_NAME=event_service
    depends_on:
      - db

  db:
    image: postgres:17
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=7213
      - POSTGRES_DB=event_service
    ports:
      - '5433:5432'
    volumes:
      - pg_data:/var/lib/postgresql/data

volumes:
  pg_data: